#funcat3
funcat3==1.1.8
setuptools
wheel
numpy==1.26.4
six
backports.functools_lru_cache
pandas==1.5.3 #for funcat3
lxml
requests
cached-property
tqdm
python-dateutil
pytz
idna
certifi
soupsieve
websocket-client
charset_normalizer
tushare
akshare
#decidra
jsonlite
candlestick-chart==3.1.0
yfinance==0.2.64
psutil
futu_api==9.3.5308
pyyaml
pylint
pyarrow
tqdm
click==8.1.7
scikit-learn==1.7.0
rich==13.9.4
rich_interactive==0.6.0
claude-code-sdk==0.0.14
anthropicp==0.76.0
textual-window==0.5.2
textual-autocomplete==4.0.4
textual-slidecontainer
textual-plotext==1.0.1
textual-datepicker==0.2.4
openharness-ai==0.1.9